{% extends 'base.html' %}

{% block title %}
    <title>GitBehavior</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
    <form class="form-container" action="/status_job?owner={owner}&repo={repo}&action={action}">
        <input class="input-field" type="text" name='owner' placeholder="Название организации">
        <input class="input-field" type="text" name='repo' placeholder="Название репозитория">
        <select class="select-field" name="action">
            <option value="status">Узнать статус</option>
            <option value="load">Загрузка</option>
            <option value="parse">Обработка</option>
            <option value="image">Отображение</option>
        </select>
        <button class="submit-button" type="submit">Начать</button>
    </form>
{% endblock %}