{% extends 'base.html' %}

{% block title %}
<title>GitBehavior</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>Статус репозитория</h1>

    <div class="order-status">
        <div class="status pending">
            <span>{% if isLoaded %}Загружено{% else %}Не загружено{% endif %}</span>
            {% if loaded_time %}
            <span class="time">{{ loaded_time }}</span>
            {% endif %}
        </div>
        <div class="status prepared">
            <span>{% if isParsed %}Обработано{% else %}Не обработано{% endif %}</span>
            {% if parsed_time %}
            <span class="time">{{ parsed_time }}</span>
            {% endif %}
        </div>
        <div class="status delivered">
            <span>Графики {% if isImage %}созданы{% else %}не созданы{% endif %}</span>
            {% if imaged_time %}
            <span class="time">{{ imaged_time }}</span>
            {% endif %}
        </div>
    </div>
    {% if isImage %}
    {% for path in images %}
        <details>
        <summary>{{ path }}</summary>

        <div class="table">
            {{ csv_html[path] | safe }}
        </div>
        {% for file in images[path] %}
        <div class="chart-container" onclick="toggleFullScreen(this)">
            <img src="/image?path={{ file }}">
        </div>
        {% endfor %}
        </details>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
    <script>
        function toggleFullScreen(container) {
            if (container.classList.contains('full-screen')) {
                container.classList.remove('full-screen');
            } else {
                const allFullScreen = document.querySelectorAll('.full-screen');
                allFullScreen.forEach((el) => el.classList.remove('full-screen'));
                container.classList.add('full-screen');
            }
        }
    </script>
{% endblock %}