.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.input-field,
.select-field,
.submit-button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.select-field {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    /* Добавить кастомную стрелку */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 15px;
    padding-right: 25px;
    /* Добавить дополнительный отступ для изображения стрелки */
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}